@import "node_modules/bootstrap/dist/css/bootstrap.css";

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #212529;

}


a {
    color: #000000;
    border-bottom: 1px dotted transparent;
}

a:hover {
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid;
}


img {
    max-width: 100%;
}

.shopping-hed .pictures-v {
    width: 15px;
    height: 10px;

}

/*-------------------*/
a.logo {
    text-decoration: none;
    border-bottom: 0;
}

.double-form {
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #E4E4E4;
    padding: 5px;
    background: #FFFFFF;
}

.border-double-form {
    /*display: flex;*/
    /*align-items: center;*/
    border-top: 1px solid #E4E4E4;
    /*width: 100%;*/
    margin-top: 10px;
    /*margin-bottom: 5px;*/
}

.triple-form-br-1 {
    border-top: 1px solid #E4E4E4;
}

.triple-form {
    background: #FFFFFF;
    border-radius: 7px 7px 7px 7px;
}

.btn.triple-form-btn {
    width: 100%;
    border-radius: 7px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.triple-form input {
    visibility: hidden;
    position: absolute;
}

.triple-form .triple-form-checkbox {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #E4E4E4;
    transition: 0.2s;
}

.triple-form .triple-form-checkbox::before {
    content: '';
    background-color: #fff;
    border: 1px solid #eee;
    width: 10px;
    height: 10px;
    display: block;
    opacity: 0;
    visibility: hidden;
    border-radius: 50%;
    margin: auto;
    transition: 0.2s;
}

.triple-form .triple-form-item {
    position: relative;
}

.triple-form .triple-form-item:hover label {
    box-shadow: 0 3px 8px -4px #000;
    z-index: 1;
}

.triple-form label {
    padding: 5px;
    cursor: pointer;
    margin: 0;
    min-height: 55px;
    border: 1px solid #E4E4E4;
    border-bottom: none;
    transition: box-shadow 0.2s;
}

.triple-form label:hover {
    z-index: 1;
}

.triple-form .triple-form-item:first-child label {
    border-radius: 5px 5px 0 0;
}

.triple-form .triple-form-item:last-child label {
    border-bottom: 1px solid #E4E4E4;
    border-radius: 0 0 5px 5px;
}

.triple-form input:checked + label {
    border-color: #000;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #000 !important;
}

.triple-form input:checked + label .triple-form-checkbox {
    background-color: #000;
}

.triple-form input:checked + label .triple-form-checkbox::before {
    opacity: 1;
    visibility: visible;
}

.shopping-hed {
    border-bottom: 1px solid #E4E4E4;
    border-top: 1px solid #E4E4E4;
    width: 100%;
}

.shopping-hed p img {
    width: 25px;
    height: 25px;
}

.btn {
    border-radius: 25px;
    line-height: 19px;
    font-size: 1rem;
    outline: none;
}

.btn:focus {
    box-shadow: none;
}

.border-btn {
    border: 1px solid #fff;
    border-radius: 25px;

}

.border-btn:hover {
    border: 1px solid #000000;
}

.btn-change {
    background-color: white;
    color: black;
    border: 2px solid #fff;

}


.btn.black {
    background: #000000;
    box-sizing: border-box;
    border: 2px solid #000000;
    color: #FFFFFF;
}

.double-form-change:hover {
    color: #000000;
    border-bottom: 1px solid;
}

.double-form-save {
    border-radius: 7px;
    margin-left: 10px;
    margin-right: 5px;
}

.double-form-change {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-bottom: 1px #FFF;
}

.hvr-ripple-out {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px #000;
    backface-visibility: hidden;
    position: relative;
}

.hvr-ripple-out:before {
    content: '';
    position: absolute;
    border: 2px solid #000000;
    top: 0;
    border-radius: 25px;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
}

.hvr-ripple-out:hover:before, .hvr-ripple-out:focus {
    animation-name: hvr-ripple-out;
}

.hvr-ripple-out-big {
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px #000;
    backface-visibility: hidden;
    position: relative;
}

.hvr-ripple-out-big:before {
    content: '';
    position: absolute;
    border: 2px solid #000;
    top: 0;
    border-radius: 7px 7px 7px 7px;
    right: 0;
    bottom: 0;
    left: 0;
    animation-duration: 1s;
}

.hvr-ripple-out-big:hover:before, .hvr-ripple-out-big:focus {
    animation-name: hvr-ripple-out-big;
}

header.navbar {
    padding: 0;
}

header .navbar .navbar-nav a.nav-link {
    margin: 0 0 0 10px;
}

.mark {
    width: 18px;
    height: 13px;
    margin: 5px;
}

p {
    margin-top: 12px;
}

.col-3.padding {
    padding-left: 45px;
}

.man {
    margin-top: 40px;
}

h1 {
    font-size: 4rem;
    line-height: 77px;
    color: #000000;
}

.text-color-gray {
    color: #A6A6A6;
    font-size: 14px;
}

.above_h1 {
    font-size: 1rem;
    color: #A6A6A6;
}

.content {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #212529;
}

.bg_cont {
    background: #FAFAFA;
}

.modal-footer {
    border-top: 0;
}

.bg_end {
    background: #FBFBFB;
    border-radius: 25px;
}

/*-----FAQ---*/

.faq {
    background-color: #FFFFFF;
    padding: 18px 18px 18px 5px;
    width: 100%;
    text-align: left;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
}

.bg-solid {
    border-bottom: 0 solid;
}

.faq::after {
    content: url('../img/faq_arrow.svg');
    float: right;
    margin-left: 5px;
    transition: .5s;
}

.act::after {
    content: url('../img/faq_arrow.svg');
    transform: rotate(180deg)
}

.act, .faq:hover {
    background-color: #FAFAFA;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.double-form label.error {
    margin-top: 40px;
    max-width: 60%;
    margin-left: 12px;
}

.double-form input {
    width: 100%;
}

label.error {
    color: #FFFFFF;
    background: #e20909 !important;
    padding: 5px !important;
    border-radius: 10px !important;
    position: absolute;
    left: 15px;
    box-shadow: 3px 3px 3px #aaaaaa;
    margin-top: 10px;
    width: auto;
    font-size: 14px;
}

label.error:before {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e20909;
    position: absolute;
    top: -8px;
    margin-left: 20px;
}

input.form-control.error {
    border: 1px solid #e81414;
}

textarea.form-control.error {
    border: 1px solid #e81414;
}

footer > div {
    border-top: 1px solid #E5E5E5;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

li.nav-item {
    padding: 10px;
}


@media screen and (max-width: 768px) {

    .btn-text {
        color: #212529;
    }

    h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .faq {
        display: flex;
        justify-content: space-between;
    }

    .order-first {
        order: 1;
    }

    .mobile {
        text-align: center;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .footer-left {
        margin-bottom: 20px;
        align-items: center;
        text-align: center;
    }

    .navbar {
        margin-bottom: 20px;
        padding: 0.5rem 0;
    }

    .modal-body input {
        width: 100%;
    }


    label.error {
        width: 70%
    }

    .double-form label.error {
        max-width: 40%;
    }
}


@keyframes hvr-ripple-out-big {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}

@keyframes hvr-ripple-out {
    100% {
        top: -12px;
        right: -12px;
        bottom: -12px;
        left: -12px;
        opacity: 0;
    }
}
